/CalendarModel.class
/GetReceiptStrategy.class
/Guest.class
/HotelReservationModel$ComprehensiveReceipt.class
/HotelReservationModel$SimpleReceipt.class
/HotelReservationModel.class
/ModelTest.class
/Reservation.class
/Room.class
/TYPE.class
